.certifications{

  position: relative;

  background:
    radial-gradient(
      circle at top,
      rgba(255,255,255,0.03),
      transparent 40%
    ),
    #111;

  overflow: hidden;
}

/* HEADER */

.certifications-header{

  width: 100%;

  max-width: 1400px;

  margin: auto;

  padding-top: 200px;
  padding-bottom: 80px;

  text-align: center;
}

.certifications-header span{

  color: #a69585;

  letter-spacing: 4px;

  font-size: 0.85rem;
}

.certifications-header h2{

  color: white;

  font-size: 3.2rem;

  line-height: 1.05;

  margin-top: 25px;
}

/* CARD */

.cert-card{

  width: 90%;

  max-width: 900px;

  margin: auto;

  position: relative;

  padding: 80px;

  border-radius: 40px;

  background:
    rgba(255,255,255,0.03);

  border:
    1px solid rgba(255,255,255,0.06);

  backdrop-filter: blur(12px);

  overflow: hidden;

  transition: 0.45s ease;

  text-align: center;
}

/* GLOW */

.cert-card::before{

  content: "";

  position: absolute;

  inset: 0;

  background:

    radial-gradient(
      circle at top,
      rgba(166,149,133,0.12),
      transparent 60%
    );

  opacity: 0;

  transition: 0.5s ease;
}

/* HOVER */

.cert-card:hover{

  transform:
    translateY(-10px);

  border:
    1px solid rgba(166,149,133,0.2);

  box-shadow:
    0 20px 60px rgba(0,0,0,0.35);
}

.cert-card:hover::before{

  opacity: 1;
}

/* LABEL */

.cert-label{

  color: #a69585;

  letter-spacing: 4px;

  font-size: 0.8rem;

  display: block;

  margin-bottom: 24px;
}

/* TITULO */

.cert-card h3{

  color: white;

  font-size: 4rem;

  margin-bottom: 16px;

  line-height: 1;
}

/* SUB */

.cert-card h4{

  color: #a69585;

  font-size: 1.1rem;

  font-weight: 500;

  margin-bottom: 35px;
}

/* TEXTO */

.cert-card p{

  color: rgba(255,255,255,0.72);

  line-height: 2;

  font-size: 1.05rem;

  max-width: 700px;

  margin: auto;
}

/* LOGO */

.certificacion-logo{

  display: flex;

  justify-content: center;

  padding-top: 180px;
}

.certificacion-logo img{

  width: 200px;

  filter:
    drop-shadow(
      0 0 35px rgba(243,243,243,0.84)
    );

  padding-bottom: 100px;
}

/* RESPONSIVE */

@media(max-width: 992px){

  .certifications-header h2{

    font-size: 3rem;
  }

  .cert-card{

    padding: 50px;
  }

  .cert-top{

    flex-direction: column;

    gap: 30px;
  }

  .cert-divider{

    width: 80px;

    height: 1px;
  }

  .cert-content{

    grid-template-columns: 1fr;
  }

}

@media(max-width: 768px){

  .certifications{

    padding: 0 20px;
  }

  .cert-card{

    padding: 35px;
  }

  .cert-top h3{

    font-size: 2rem;
  }

  .certifications-header h2{

    font-size: 2.4rem;
  }

}