.culinary{

  position: relative;

  width: 100%;

  padding: 160px 8%;

  background-size: cover;
  background-position: center;

  overflow: hidden;
}

/* OVERLAY */

.culinary-overlay{

  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.72);

  z-index: 1;
}

/* CONTENIDO */

.culinary-content{

  position: relative;

  z-index: 2;

  max-width: 1400px;

  margin: auto;

  text-align: center;
}

/* SUBTITULO */

.culinary-subtitle{

  color: #d6b98c;

  letter-spacing: 4px;

  margin-bottom: 20px;

  font-size: 0.9rem;
}

/* TITULO */

.culinary-content h2{

  color: white;

  font-size: 4rem;

  font-weight: 500;

  margin-bottom: 80px;

  text-transform: uppercase;
}

/* GALERIA */

.gallery-section{

  display: flex;

  width: 100%;

  height: 560px;

  overflow: hidden;

  border-radius: 8px;
}
/* ITEMS */

.gallery-item-section{

  position: relative;

  flex: 1;

  overflow: hidden;

  cursor: pointer;

  transition:
    flex 1.2s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1s ease;
}

/* IMAGEN */

.gallery-item-section img{

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition:
    transform 1.8s cubic-bezier(0.22, 1, 0.36, 1),
    filter 1.2s ease;

  transform: scale(1);
}

/* CUANDO PASAS EL MOUSE SOBRE LA GALERIA */

.gallery-section:hover .gallery-item-section{

  flex: 0.9;
}

/* ITEM ACTIVO */

.gallery-section .gallery-item-section:hover{

  flex: 1.4;
}

/* IMAGENES */

.gallery-item-section img{

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition:
    transform 1.5s cubic-bezier(0.22, 1, 0.36, 1),
    filter 1.2s ease;
}

/* IMAGENES NO ACTIVAS */

.gallery-section:hover .gallery-item-section img{

  transform: scale(1);

  filter: brightness(0.6);
}

/* IMAGEN ACTIVA */

.gallery-section .gallery-item-section:hover img{

  transform: scale(1.08);

  filter: brightness(1);
}

/* EFECTO OSCURO */

.gallery-item::after{

  content: "";

  position: absolute;

  inset: 0;

  background: rgba(0, 0, 0, 0.253);

  transition: 1s ease;
}

.gallery-item:hover::after{

  background: rgba(0,0,0,0.08);
}

/* RESPONSIVE */

@media(max-width: 992px){

  .gallery-section  {

    grid-template-columns: 1fr;
    flex-direction: column;
  }

  .gallery-item-section{

    height: 100%;
    
  }

  .culinary-content h2{

    font-size: 2.5rem;
  }

}